*{
  box-sizing: border-box;
}

body {
  margin: 0; 
}

nav {
  height: 100px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  height: 300px;
  max-width: 800px;
  align-self: center;
}

.hero--header{
  margin-top: 0;
}

.card{
  width: 400px;
  font-size: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.card--image{
  width:400px;
  height: 500px;
  border-radius: 10px;}

.card--stats{
  display: flex;
  align-items: center;
}

.card--star {
  height: 25px;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}